<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConString" connectionString="Server=ASUS\SQLEXPRESS;Database=billing;User Id=sa;Password=1234;Integrated Security=false"
      providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
    <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
